.projects-full-area{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(#10121B, #10121B), url(../Image/HvIEnr.png);
}
.inner-projects h1{
    text-align: center;
    color: white;
    padding: 30px 0px;
    font-weight: 700;
    background: -webkit-linear-gradient(-65deg,red,blue,red,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}