.project-full-area{
    
}


.card-area{
    height: 510px;
    box-shadow: 5px 5px 30px rgb(101, 101, 165);
    background: rgb(29, 27, 27);
    color: white;
    border-radius: 20px;
}
.card-area h2{
    background-image: linear-gradient(-30deg, blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-area ul{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.card-area ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}
.card-area ul li a{
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid grey;
    border-radius: 5px;
}