.full-nav-area{
    background: #212529;
}

.nav-full-area{
   
}
.nav-full-area button{
   background: #212529;
   border: 1px solid white;
}
.nav-bar-icon{
  color: white;
 
}
.nav-full-area a{
   color: white;
}
.navigation-area{
    
}
.navigation-area ul{
    
}
.navigation-area ul li{
    
}

.navigation-area ul li .nav-link{
    font-size: 16px;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
}
.navigation-area ul li .nav-link:hover{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}