.home-bottom-area {
   margin: 0 auto;
    text-align: center;
    max-width: 300px;
    width: 100%;
    padding-bottom: 20px;
}
.home-bottom-area ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.home-bottom-area ul li{
    display: inline-block;
    font-size: 30px;
    margin-right: 15px;
}